Checks:
  '-*, 
  bugprone*,
  clang-analyzer*, 
  cert*, 
  cppcoreguidelines*, 
  google*, 
  hicpp*, 
  modernize*, 
  misc*, 
  readability*, -readability-identifier-length, 
  style*,
  
  -*else-after-return'
